*.swp
*.ini
*.log
CMakeFiles
CMakeCache.txt
Makefile
build
libs
.vs
*.creator
*.config
*.files
*.includes
*.creator.user
cscope.out
cscope.files
latex
html
.idea
cmake-build-*
*.o
*.deps
.redo
*.json
hexx0ar
.do_built*
*.did
*.deps_ne
